## This file describes extra ML library dependencies that you, as an end user,
## must install in order to use various QCFlow Python modules.
# Required by qcflow.fastai
fastai>=2.4.1
# Required by qcflow.spacy
# TODO: Remove `<3.8` once we bump the minimim supported python version of QCFlow to 3.9.
spacy>=3.3.0,<3.8
# Required by qcflow.tensorflow
tensorflow>=2.10.0
# tensorflow-macos>=2.10.0  # Comment out the line above and uncomment this line if setting up dev
                            # environment on local ARM macOS.
                            # Only do this for the purpose of setting up the dev environment, do not
                            # commit this change to the repo.
# Required by qcflow.pytorch
torch>=1.11.0
torchvision>=0.12.0
lightning>=1.8.1
# Required by qcflow.xgboost
xgboost>=0.82
# Required by qcflow.lightgbm
lightgbm
# Required by qcflow.catboost
catboost
# Required by qcflow.statsmodels
statsmodels
# Required by qcflow.h2o
h2o
# Required by qcflow.onnx
onnx>=1.11.0
onnxruntime
tf2onnx
# Required by qcflow.spark and using Delta with QCFlow Tracking datasets
pyspark
# Required by qcflow.paddle
paddlepaddle
# Required by qcflow.prophet
# NOTE: Prophet's whl build process will fail with dependencies not being present.
#   Installation will default to setup.py in order to install correctly.
#   To install in dev environment, ensure that gcc>=8 is installed to allow pystan
#   to compile the model binaries. See: https://gcc.gnu.org/install/
# Avoid 0.25 due to https://github.com/dr-prodigy/python-holidays/issues/1200
holidays!=0.25
prophet
# Required by qcflow.shap
# and shap evaluation functionality
shap>=0.42.1
# Required by qcflow.pmdarima
pmdarima
# Required by qcflow.diviner
diviner
# Required for using Hugging Face datasets with QCFlow Tracking
datasets
# Required by qcflow.transformers
transformers
sentencepiece
setfit
librosa
ffmpeg
accelerate
# Required by qcflow.openai
openai
tiktoken
tenacity
# Required by qcflow.llama_index
llama_index
# Required for an agent example of qcflow.llama_index
llama-index-agent-openai
# Required by qcflow.langchain
langchain
# Required by qcflow.promptflow
promptflow
# Required by qcflow.sentence_transformers
sentence-transformers
# Required by qcflow.anthropic
anthropic
# Required by qcflow.autogen
autogen
# Required by qcflow.dspy
dspy
# Required by qcflow.litellm
litellm
# Required by qcflow.gemini
google-generativeai
